@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Oswald:wght@300;400;500&family=Roboto:wght@300;400;700&display=swap');
@import "../node_modules/breakpoint-sass/stylesheets/breakpoint";

$upto-576: max-width 576px;
$upto-767: max-width 767px;
$upto-991: max-width 991px;
$from-992: 992px;

*{
    margin:0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    --color-white: #ffffff;
    --color-blue: #03437d;
    --color-lightblue: #3c8bd4;
    --color-grey: #2a2a2a;
    --color-black: #051320;
    --color-lightGrey:#a1a3b2;
    --color-deepBlue:#002241;
}
.section_wrapper {
    position: relative;
}
html {
    overflow-x: hidden;
}
body{
    font-family: 'Roboto', sans-serif;
    font: 100%/1rem;
    overflow-x: hidden;
    // @include breakpoint($upto-tablet) {
    //     background: #ff8800;
    // }
}

/*-- css grid --*/

/* .container-fluid{
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    float: left;
}
.container{
    width: 1170px;
    margin: 0 auto;
    max-width: 100%;
    height: fit-content;
}
.row {
    clear: both;
}
.container .columns {
    float: left;
    max-width: 100%;
    height: auto;
    padding: 0 15px;
}
.container .columns.one{ width: 8.33%}
.container .columns.two{ width: 16.66%;}
.container .columns.three{ width: 25%;}
.container .columns.four{ width: 33.33%;}
.container .columns.five{ width: 41.66%;}
.container .columns.six{ width: 50%;}
.container .columns.seven{ width: 58.33%;}
.container .columns.eight{ width: 66.66%;}
.container .columns.nine{ width: 75%;}
.container .columns.ten{ width: 83.33%;}
.container .columns.eleven{ width: 91.66%;}
.container .columns.twelve{ width: 100%;} */
/*-- css grid --*/

/* .clearfix {
    content: "";
    clear: both;
    display: block;
    height: 0px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.flex-row {
    flex-direction: row;
}
.flex-row-reverse {
    flex-direction: row-reverse;
} */

/*-- layout css --*/

header{
    background: url(../Images/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 150px;
    @include breakpoint($upto-991) {
        background: #03437d;
        height: auto;
        padding: 15px 0;
    }
}

.logo-hdr{
    height: 100px;
    figure {
        background: none;
        margin: 0 auto;
        padding: 0 20px;
        width: fit-content;
        @include breakpoint($upto-991) {
            background: #f6f5f3;
        }
    }
}

.slogan{
    font-size: .9rem;
}

.searchIcon{
    color:var(--color-lightGrey);
    background-color:var(--color-white);
    height: 30px;
    
}

.drpDwn{
    background-color: var(--color-lightblue);
    height: 30px;
    text-align: center;
}

.search-hdr{
    display: flex;
    padding-top: 30px;
    justify-content: center;
}

.search-hdr select,input,button{
    border: 0;
    padding: 0px 10px 0px 10px;
}

.browseCategory{
    padding-top: 30px;
}

 .browseCategory span{
    text-transform: uppercase;
    color: var(--color-white);
    font-size: .7rem;
 }


 .browseCategory a{
    text-transform: capitalize;
    font-size: .6rem;
    color: var(--color-white);
    background-color: var(--color-lightblue);
    text-decoration: none;
    padding: 10px;
 }

 .navRow{
    background: var(--color-deepBlue);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 50px;
 }


 .navMenu{
    // display: flex;
    color: var(--color-white);
    list-style: none;
    font-family: 'Oswald';
    font-size: .8rem;
    font-weight: 100;
    justify-content: space-around;
 }

 .header_nav {
    // display: flex;
    // width: 100%;
    // justify-content: space-between;
    // height: 140px;
    // transition: height ease-in 200ms;
}
.header_nav .burger{
    position: relative;
    display: none;
    width: 2rem;
    height: 1rem;
    border: none;
    outline: none;
    background: none;
    transform: rotate(0deg);
    transition: 0.35s ease-in-out;
}
.header_nav .burger-line{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    border: none;
    outline: none;
    opacity: 1;
    border-radius: 0.25rem;
    background: var(--color-white);
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}
.header_nav .burger-line:nth-child(1) {
    top: 0rem;
  }
  .header_nav .burger-line:nth-child(2) {
    top: 0.5rem;
  }
  .header_nav .burger-line:nth-child(3) {
    top: 1rem;
  }
  .header_nav .burger.is-active .burger-line:nth-child(1) {
    top: 1.25rem;
    opacity: 0;
  }
  .header_nav .burger.is-active .burger-line:nth-child(2) {
    transform: rotate(45deg);
  }
  .header_nav .burger.is-active .burger-line:nth-child(3) {
    top: 0.5rem;
    transform: rotate(-45deg);
  }
.header_menu {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
}
@media screen and (max-width: 767px){
    .header_nav {
        position: relative;
    }
    .header_menu{
        display:none;
        position: absolute;
        top: 100%;
    }
    .header_menu ul {
        flex-direction: column !important;
        background: #444;
        padding: 15px 0;
    }
    .header_menu.is-active {
        display: block;
        width: 100%;
    }
    .header_nav .burger{
        display: block;
        // top: 60px;
        right: 10px;
        position: relative;
    }
}
.header_menu ul {
    // display: flex;
    // height: 100%;
    // flex-direction: row;
    // align-items: center;
}
.header_menu ul li {
    list-style: none;
    padding: 0 1.2rem;
}
.header_menu ul li a {
    // color: var(--color-white);
    text-decoration: none;
}


/* mediaquery extra small*/
// @media screen and (max-width: 576px) {

// }

// /* mediaquery small*/
// @media screen and (max-width: 767px) {

// }

// /* up to tablet */
// @media screen and (max-width: 991px) {

// }

// /* only desktop */
// @media screen and (min-width: 992px) {

// }